.resume-menu-item {
  display: flex;
  align-items: center;
  .resume-menu-check {
    width: 18px;
    color: #1890ff;
  }
  .resume-menu-name {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
