.resume-switcher {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resume-menu-item {
  display: flex;
  align-items: center;
  .resume-menu-check {
    width: 18px;
    color: #00c091;
  }
  .resume-menu-name {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
