.history-list {
  span {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.snapshot-preview {
  max-height: 65vh;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border: 1px solid #f0f0f0;
}
